dynamic-form {
    ion-card.card{
        background: rgba(232, 230, 230, 0.6px);
        border-radius: 3px;
    }
    .item{
        background: rgba(232, 230, 230, 0px);
    }
    .separador{
        border-bottom: 1px solid beige;
    }
    .d-input{
        color: black;
        background-color: rgba(64, 52, 59, 0.1px);
    }
}
